asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
crispy-bootstrap4==2025.6
crispy-bootstrap5==2025.6
django==5.2.6
django-crispy-forms==2.4
django-modeltranslation==0.19.16
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
idna==3.10
pillow==11.3.0
PyJWT==2.9.0
requests==2.32.4
sqlparse==0.5.3
typing-extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.8.2
